*{
	font-family: 'Source Sans Pro', sans-serif;
}
h2{
	margin: 0;
}
.header-main{
	display: flex;
	color: white;
}
.header-main-opt{
	margin-left: auto;
}
.main{
	background-color: #FF8F35;
}
.navbar{
	margin-bottom: 0;
}
.navbar-nav .active{
	border-top: 2px solid red;
}
.navbar-nav a:hover{
	border-top: 2px solid gray;
}
.search{
	display: flex;
	background-color: darkgray;
}
.search-input{
	height: 50px;
    width: 100%;
    background-color: darkgray;
    border: 0;
    padding: 0;
    color: white;
}
.search-input::-webkit-input-placeholder{
	color: white;
}
.search-input span, button{
	z-index: 1;
	background-color: transparent;
	margin: auto;
	padding: 0;
	border: 0;
}
