<div class="create-section">
		<div class="create-col col-md-12">
			<p>MIS COLECCIÓNES DE RECETAS</p>
			<div class="create-col-new col-md-2">
				<img src="http://www.w3schools.in/demo/image_upload_and_generate_thumbnail_using_ajax_in_php/img/default.jpg" alt="">
				<div>
					<p>Favoritas</p>
					<p>37 recetas</p>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="create-col-new col-md-2">
				<img src="http://forums.x-plane.org/uploads/monthly_2017_04/cibrutORGavatar.thumb.jpg.3e64bb1887f468c75f14c4ba16dd18c6.jpg" alt="">
				<div>
					<p>Crear nueva coleccion</p>
					<p>0 recetas</p>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="create-col-new col-md-2">
				<img src="http://forums.x-plane.org/uploads/monthly_2017_04/cibrutORGavatar.thumb.jpg.3e64bb1887f468c75f14c4ba16dd18c6.jpg" alt="">
				<div>
					<p>Crear nueva coleccion</p>
					<p>0 recetas</p>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="create-col-new col-md-2">
				<img src="http://forums.x-plane.org/uploads/monthly_2017_04/cibrutORGavatar.thumb.jpg.3e64bb1887f468c75f14c4ba16dd18c6.jpg" alt="">
				<div>
					<p>Crear nueva coleccion</p>
					<p>0 recetas</p>
				</div>
			</div>
		</div>
		<div class="create-plan col-md-12">
			<p>LA COMIDA EQUILIBRADA DE HOY EN MENÚ PLANNER </p>
			<div class="col-md-5 launch">
				<p>Comida</p>
				<div class="col-md-12 inside-launch">
					<img class="img-circle col-md-4" src="http://forums.x-plane.org/uploads/monthly_2017_04/cibrutORGavatar.thumb.jpg.3e64bb1887f468c75f14c4ba16dd18c6.jpg" alt="">
					<span class="glyphicon glyphicon-plus-sign col-md-1"></span>
					<img class="img-circle col-md-4" src="http://forums.x-plane.org/uploads/monthly_2017_04/cibrutORGavatar.thumb.jpg.3e64bb1887f468c75f14c4ba16dd18c6.jpg" alt="">
					<span class="glyphicon glyphicon-plus-sign col-md-1"></span>
					<img class="img-circle col-md-4" src="http://forums.x-plane.org/uploads/monthly_2017_04/cibrutORGavatar.thumb.jpg.3e64bb1887f468c75f14c4ba16dd18c6.jpg" alt="">
				</div>
				<div class="col-md-12">
					<p class="col-md-4">lorem</p>
					<p class="col-md-4">lorem</p>
					<p class="col-md-4">lorem</p>
				</div>
				<p>Acompaña con lorem ipsum</p>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-5 dinner">
				<p>cena</p>
				<div class="col-md-12 inside-dinner">
					<img class="img-circle col-md-4" src="http://forums.x-plane.org/uploads/monthly_2017_04/cibrutORGavatar.thumb.jpg.3e64bb1887f468c75f14c4ba16dd18c6.jpg" alt="">
					<span class="glyphicon glyphicon-plus-sign col-md-1"></span>
					<img class="img-circle col-md-4" src="http://forums.x-plane.org/uploads/monthly_2017_04/cibrutORGavatar.thumb.jpg.3e64bb1887f468c75f14c4ba16dd18c6.jpg" alt="">
					<span class="glyphicon glyphicon-plus-sign col-md-1"></span>
					<img class="img-circle col-md-4" src="http://forums.x-plane.org/uploads/monthly_2017_04/cibrutORGavatar.thumb.jpg.3e64bb1887f468c75f14c4ba16dd18c6.jpg" alt="">
				</div>
				<div class="col-md-12">
					<p class="col-md-4">lorem</p>
					<p class="col-md-4">lorem</p>
					<p class="col-md-4">lorem</p>
				</div>
				<p>Acompaña con lorem ipsum</p>
			</div>
		</div>
</div>