	<div class="recipes1">
		<p>RECETAS POPULARES</p>
		<div class="thumbs col-sm-12 col-md-12">
			<div class="item col-md-4">
				<div class="img-recipe">
					<img src="http://www.w3schools.in/demo/image_upload_and_generate_thumbnail_using_ajax_in_php/img/default.jpg" alt="">
				</div>
				<div class="info-recipe">
					<p>Lorem ipsum dolor sit amet, ...</p>
					<ul>
						<li><span class="glyphicon glyphicon-refresh"></span>20m</li>
						<li><span class="glyphicon glyphicon-education"></span>Fácil</li>
						<li> <span class="glyphicon glyphicon-object-align-bottom"></span>500kCal</li>
					</ul>
				</div>
			</div>
			<div class="item col-md-4">
				<div class="img-recipe">
					<img src="http://www.w3schools.in/demo/image_upload_and_generate_thumbnail_using_ajax_in_php/img/default.jpg" alt="">
				</div>
				<div class="info-recipe">
					<p>Lorem ipsum dolor sit amet, ...</p>
					<ul>
						<li><span class="glyphicon glyphicon-refresh"></span>20m</li>
						<li><span class="glyphicon glyphicon-education"></span>Fácil</li>
						<li> <span class="glyphicon glyphicon-object-align-bottom"></span>500kCal</li>
					</ul>
				</div>
			</div>
			<div class="item col-md-4 ">
				<div class="img-recipe">
					<img src="http://www.w3schools.in/demo/image_upload_and_generate_thumbnail_using_ajax_in_php/img/default.jpg" alt="">
				</div>
				<div class="info-recipe">
					<p>Lorem ipsum dolor sit amet, ...</p>
					<ul>
						<li><span class="glyphicon glyphicon-refresh"></span>20m</li>
						<li><span class="glyphicon glyphicon-education"></span>Fácil</li>
						<li> <span class="glyphicon glyphicon-object-align-bottom"></span>500kCal</li>
					</ul>
				</div>
			</div>
			<div class="item col-md-4 ">
				<div class="img-recipe">
					<img src="http://www.w3schools.in/demo/image_upload_and_generate_thumbnail_using_ajax_in_php/img/default.jpg" alt="">
				</div>
				<div class="info-recipe">
					<p>Lorem ipsum dolor sit amet, ...</p>
					<ul>
						<li><span class="glyphicon glyphicon-refresh"></span>20m</li>
						<li><span class="glyphicon glyphicon-education"></span>Fácil</li>
						<li> <span class="glyphicon glyphicon-object-align-bottom"></span>500kCal</li>
					</ul>
				</div>
			</div>
		</div>
	</div>